.workspace{
    border: 2px solid #dddddd;
    margin: 10px;
    overflow: visible;
    height: auto;
    padding-bottom: 10px;
}


.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #4786b2;
    white-space: normal;
    padding: 10px 20px;
    height: 55px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


/* --- Tree --- */
.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.active-node {
    background: #cbe9cb;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: 10px;
}
.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;

}

#select-modal .angular-ui-tree-handle:hover {
    cursor: default;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sidebar-button{
    cursor: pointer;
}

input[type=checkbox] {
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: 5px;
}

.list {
    list-style-type: none;
    margin: 0;
    opacity: 0;
    padding: 4px 7px;
    position: absolute;
    margin-left: -1000px;
    background: white;
    box-shadow: 1px 1px 6px rgb(195, 195, 195);
    border-radius: 2px;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.list li {
    padding: 3px 5px;
    cursor: pointer;
}

.list li:hover {
    background: lightgray;
}

.show .list {
    margin-left: 0;
    opacity: 1;
}

.list li .amount {
    display: inline-block;
    padding: 2px 3px;
    background-color: rgb(83, 177, 211);
    border-radius: 3px;
    margin: 0 0 3px 10px;
    font-size: 65%;
    color: white;
}

.clicked {
    cursor: pointer;
}

.panel:hover > .panel-heading {
    background-color: #DDDDDD;
}

.controls {
    position: absolute;
    top: 0;
    right: 5px;
    display: none;
    z-index: 100;
}

.controls > * {
    -moz-border-radius:  35px;
    -webkit-border-radius:  35px;
    border-radius:  35px;
}

.section, .has-blocks {
    position: relative;
}

.section:hover > .controls {
    display: block;
}

.section > .controls {
    top: 0px;
}

.has-blocks:hover > .controls {
    display: block;
}

.has-blocks > .controls {
    top: 15px;
}

.section {
    overflow: visible;
}

.header {
    min-height: 40px;
}