<div class="container-fluid section content-cards">
    <div class="has-blocks col-md-{{block.settings.blockWidth}}"
         style="position: relative;"
         ng-repeat="block in section.blocks"
         ng-include="getTemplate(block)">
    </div>
</div>