<div class="content-card has-blocks ">
    <div class="container-fluid">
        <div class="row">
            <div ng-if="block.settings.imagePlace == 'top'" class="{{section.settings.hasBorders ? 'bordered' : null}}">
                <img src="{{block.settings.image.url}}" class="img-responsive">
                <div ng-model="block.content.title"
                     contenteditable="true"
                     medium-editor
                     bind-options="mediumBindOptions"></div>
                <div ng-model="block.content.text"
                     contenteditable="true"
                     medium-editor
                     bind-options="mediumBindOptions"></div>
            </div>
            <div ng-if="block.settings.imagePlace == 'bottom'" class="{{section.settings.hasBorders ? 'bordered' : null}}">
                <div ng-model="block.content.title"
                     contenteditable="true"
                     medium-editor
                     bind-options="mediumBindOptions"></div>
                <div ng-model="block.content.text"
                     contenteditable="true"
                     medium-editor
                     bind-options="mediumBindOptions"></div>
                <img src="{{block.settings.image.url}}" class="img-responsive">
            </div>
            <div ng-if="block.settings.imagePlace == 'left'" class="{{section.settings.hasBorders ? 'bordered' : null}}">
                <div class="col-md-{{block.settings.imageWidth}}">
                    <img src="{{block.settings.image.url}}" class="img-responsive">
                </div>
                <div class="col-md-{{block.settings.contentWidth}}">
                    <div ng-model="block.content.title"
                         contenteditable="true"
                         medium-editor
                         bind-options="mediumBindOptions"></div>
                    <div ng-model="block.content.text"
                         contenteditable="true"
                         medium-editor
                         bind-options="mediumBindOptions"></div>
                </div>
            </div>
            <div ng-if="block.settings.imagePlace == 'right'" class="{{section.settings.hasBorders ? 'bordered' : null}}">
                <div class="col-md-{{block.settings.contentWidth}}">
                    <div ng-model="block.content.title"
                         contenteditable="true"
                         medium-editor
                         bind-options="mediumBindOptions"></div>
                    <div ng-model="block.content.text"
                         contenteditable="true"
                         medium-editor
                         bind-options="mediumBindOptions"></div>
                </div>
                <div class="col-md-{{block.settings.imageWidth}}">
                    <img src="{{block.settings.image.url}}" class="img-responsive">
                </div>
            </div>
        </div>
    </div>

    <div class="controls">
        <button class="btn btn-default btn-xs btn-circle" ng-click="blockLeft(section, this.$index)" ng-if="this.$index != 0">
            <i class="fa fa-arrow-left"></i>
        </button>
        <button class="btn btn-default btn-xs btn-circle" ng-click="blockRight(section, this.$index)" ng-if="this.$index != section.blocks.length - 1">
            <i class="fa fa-arrow-right"></i>
        </button>
        <button class="btn btn-default btn-xs btn-circle" ng-click="getBlockSettings(block)">
            <i class="fa fa-cog"></i>
        </button>
        <button class="btn btn-danger btn-xs btn-circle" ng-click="removeBlock(section, this.$index)">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>
