<div style="position: relative;" ng-click="setCurrentSlide(this.$index)">
    <img src="{{card.block.settings.main_image.url}}" class="img-responsive" style="height: 200px;">
    <div style="position: absolute; top: 0; left: 0;  display: flex; width: 100%; height: 100%">
        <h3  ng-model="card.block.content.title"
             contenteditable="true"
             style="color: white; margin: auto; z-index: 100; text-align: center; "
             medium-editor bind-options="mediumBindOptions"></h3>
    </div>

</div>





