<div class="card" ng-click="setCurrentSlide(this.$index)">
    <img class="pull-right" style="margin-top: 10px; margin-right: 5px" src="{{card.block.settings.image.url}}"/>
    <h4 ng-model="card.block.content.title" contenteditable="true" medium-editor bind-options="mediumBindOptions"></h4>
    <h4 ng-model="card.block.content.second_title" contenteditable="true" medium-editor bind-options="mediumBindOptions"></h4>

    <p ng-model="card.block.content.text" contenteditable="true" medium-editor bind-options="mediumBindOptions"></p>
    <small ng-model="card.block.content.clarification" contenteditable="true" medium-editor bind-options="mediumBindOptions"></small>
</div>