<div class="card" ng-click="setCurrentSlide(this.$index)">
    <img src="{{card.block.settings.main_image.url}}" class="img-responsive" style="width: 100%">
    <img class="pull-right" style="margin-top: 10px; margin-right: 5px" src="{{card.block.settings.image.url}}"/>
    <h4 medium-editor bind-options="mediumBindOptions" ng-model="card.block.content.title" contenteditable="true"></h4>
    <h4 medium-editor bind-options="mediumBindOptions" ng-model="card.block.content.second_title" contenteditable="true"></h4>

    <p medium-editor bind-options="mediumBindOptions" ng-model="card.block.content.text" contenteditable="true"></p>
    <small medium-editor bind-options="mediumBindOptions" ng-model="card.block.content.clarification" contenteditable="true"></small>
</div>