<div class="container-fluid">
    <div class="docs-container">
        <div ng-repeat="docID in section.documents">
            <a ng-if="getDocument(docID.id).extension == 'doc' || getDocument(docID.id).extension == 'docx'"
               href=".{{getDocument(docID.id).url}}"
               target="_blank"
               class="doc col-md-4">
                <span class="doc_doc">DOC</span>
                <span class="doc-name">{{getDocument(docID.id).full_name}}</span>
            </a>
            <a ng-if="getDocument(docID.id).extension == 'pdf'"
               href=".{{getDocument(docID.id).url}}"
               target="_blank"
               class="doc col-md-4">
                <span class="doc_pdf">PDF</span>
                <span class="doc-name">{{getDocument(docID.id).full_name}}</span>
            </a>
            <a ng-if="getDocument(docID.id).extension == 'xls' || getDocument(docID.id).extension == 'xlsx'"
               href=".{{getDocument(docID.id).url}}"
               target="_blank"
               class="doc col-md-4">
                <span class="doc_xls">XLS</span>
                <span class="doc-name">{{getDocument(docID.id).full_name}}</span>
            </a>
        </div>
    </div>
</div>