<div class="jumbo">
    <img src="{{section.settings.backgroundImage.url}}" style="width: 100%;">
    <div class="jumbo-content col-md-2" >
        <div>
            <div ng-model="section.content.title"
                 contenteditable="true"
                 medium-editor bind-options="mediumBindOptions">
            </div>
            <div ng-model="section.content.text"
                 contenteditable="true"
                 medium-editor bind-options="mediumBindOptions">
            </div>
        </div>
    </div>
</div>