<div ng-if="section.settings.hasIntegration">
    <h4
            style="font-weight: bold"
            ng-model="record[section.settings.integrationSettings.matchingFields.title]"
            contenteditable="false"
    >Текст</h4>
    <div
            ng-model="record[section.settings.integrationSettings.matchingFields.text]"
            contenteditable="false"
    >Текст</div>
</div>
<div ng-if="!section.settings.hasIntegration">
    <div

            ng-model="block.content.title"
            contenteditable="true"
            medium-editor
            bind-options="mediumBindOptions"
    >Текст</div>
    <div
            ng-model="block.content.text"
            contenteditable="true"
            medium-editor
            bind-options="mediumBindOptions"
    >Текст</div>
</div>

<div class="controls">
    <button class="btn btn-default btn-xs btn-circle" ng-click="blockLeft(section, this.$index)" ng-if="this.$index != 0">
        <i class="fa fa-arrow-left"></i>
    </button>
    <button class="btn btn-default btn-xs btn-circle" ng-click="blockRight(section, this.$index)" ng-if="this.$index != section.blocks.length - 1">
        <i class="fa fa-arrow-right"></i>
    </button>
    <button class="btn btn-default btn-xs btn-circle" ng-click="getBlockSettings(block)">
        <i class="fa fa-cog"></i>
    </button>
    <button class="btn btn-danger btn-xs btn-circle" ng-click="removeBlock(section, this.$index)">
        <i class="fa fa-times"></i>
    </button>
</div>