<div class="jumbo">
    <img src="{{section.settings.backgroundImage.url}}" style="width: 100%;">
    <div class="multiple-content jumbo-multiple">
        <div ng-if="!section.settings.hasIntegration"
             ng-repeat="block in section.blocks"
             ng-include="getTemplate(block)"
             class="col-md-{{block.settings.width}} has-blocks block">
        </div>
        <div ng-if="section.settings.hasIntegration"
             ng-repeat="record in getCollection(section.settings.integrationSettings.collectionName).content"
             ng-include="getTemplate({type: 'jumboBlock'})"
             class="col-md-3 has-blocks block">
        </div>
    </div>
</div>