<div class="line-text">
    <div class="hr-line"></div>
    <h4 class="hr-text"
        medium-editor
        bind-options="mediumSeparatorOptions"
        ng-model="section.content.title"
        contenteditable="true">
    </h4>
</div>

