<div class="trick-main">
    <img class="img-responsive" src="{{block.settings.backgroundImage.url}}" alt="">
    <div class="trick-text-content">
        <h3
                medium-editor
                bind-options="mediumBindOptions"
                ng-model="block.content.title"
                contenteditable="true"
                style="color: {{block.settings.fontColor}}"></h3>
    </div>
</div>
<div class="trick-content">
    <p contenteditable="true" ng-model="block.settings.annotation"></p>
</div>
<div class="controls">
    <button class="btn btn-default btn-xs btn-circle" ng-click="blockLeft(section, this.$index)" ng-if="this.$index != 0">
        <i class="fa fa-arrow-left"></i>
    </button>
    <button class="btn btn-default btn-xs btn-circle" ng-click="blockRight(section, this.$index)" ng-if="this.$index != section.blocks.length - 1">
        <i class="fa fa-arrow-right"></i>
    </button>
    <button class="btn btn-default btn-xs btn-circle" ng-click="getBlockSettings(block)">
        <i class="fa fa-cog"></i>
    </button>
    <button class="btn btn-danger btn-xs btn-circle" ng-click="removeBlock(section, this.$index)">
        <i class="fa fa-times"></i>
    </button>
</div>
