
/*РАЗДЕЛИТЕЛЬ*/
.line-text {
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: -10px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}


.line-text > .hr-text {
    position: relative;
    top: -18px;
    text-align: center;
    background-color: white;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.hr-line{
    border-top: 2px solid #0000CC;
}
.hr-text {
    color: #3E70BA;
    font-weight: bold;
    font-size: 16px;
}

/*КАРТОЧКА*/
.card {
    border: 1px solid #8B8B9F;
    padding: 4px;
    cursor: pointer;
    min-height: 170px;
}

.cards > .col-md-3 {
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 3px;
}

.cards > * h1,
.cards > * h2,
.cards > * h3,
.cards > * h4,
.cards > * h5,
.cards > * h6 {
    color: #3E70BA;
}

.cards > * h4 {
    font-weight: bold;
    font-size: 18px;
}

.cards > * p {
    font-weight: bold;
    font-size: 12px;
}
.cards > * small {
    font-weight: bold;
    font-size: 9px;
    line-height: 1.0;
}

/*JUMBOTRON*/
.jumbo {
    overflow: hidden;
    position: relative;
    margin: 20px 0;
}

@media (min-width: 992px) {
    .jumbo > * {
        color: white;
    }

    .jumbo-content {
        position: absolute;
        top: 0;
        left: 20px;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .jumbo-content  * {
        width: 100%;
    }

    .jumbo-multiple {
        position: absolute;
        left: 0;
        top: 0;
    }

    .multiple-content {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .multiple-content > * {
        margin: auto;
    }
}

@media (max-width: 992px) {
    .tricks {
        flex-flow: column;
    }
    .trick {
        width: 100%;
    }
}


.jumbo h4 {
    font-weight: bold;
    font-size: 19px;
}
.jumbo h6 {
    font-size: 11px;
}
.jumbo p {
    font-size: 12px;
}


/*КАРТОЧКИ ДОКУМЕНТОВ*/
.doc {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;

}

.doc:hover {
    text-decoration: none;
}

.doc_doc, .doc_pdf, .doc_xls{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 10px;
    display: table-cell;
    vertical-align: middle;
}
.doc_doc {
    background-color: #0033CC;
}

.doc_pdf {
    background-color: red;
}

.doc_xls {
    background-color: green;
}

.docs-container {
    margin-top: 20px;
}

.doc-name {
    color: black;
    background-color: white;
    font-weight: bold;
    border: 1px solid #49464f;
    font-size: 12px;
    width: 100%;
    padding: 5px 5px;
    display: table-cell;
    vertical-align: middle;
}

/*ФОТОКАРТОЧКИ С ПОЯВЛЯЮЩЕЙСЯ ПРИ КЛИКЕ ПОЯСНЯЮЩЕЙ НАДПИСЬЮ*/
.tricks {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 40px;
}

.trick {
    position: relative;
    margin: 10px;
    min-height: 30px;
}

.trick-main, .trick-simple {
    position: relative;
    height: auto;
    box-shadow: 5px 5px 10px;
}

.trick-main{
    width: 100%;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.trick-text-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    text-align: center;
}

.trick-text-content > * {
    margin: auto;
    font-size: 18px;
}

.trick-content {
    display: flex;
    opacity: 0;
    position: absolute;
    top: 0;

}
.trick-content > p {
    color: white;
    margin: auto;
}
/*.trick-main > h3, .trick-simple > h3 {
    font-weight: bold;
    color: white;
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 45%;
    width: 100%;
}*/

/*ФОТОКАРТОЧКИ*/
.photo-card {
    height: 150px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;

}
.photo-card > h3 {
    font-weight: bold;
    font-size: 28px;
    margin: auto;
    color: white;
    text-align: center;
}

.photo-cards {
    overflow: hidden;
}

.cards .card:hover, .photo-cards .photo-card:hover {
    box-shadow:
    2px 2px #777777,
    3px 3px #777777,
    4px 4px #777777;
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
}

/*Контентные карточки*/
.content-cards {
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 992px) {
    .content-cards {
        flex-flow: column;
    }
}

.bordered {
    border: 1px solid #CCCCCC;
}

.content-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

