html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -50px;
    padding: 0 0 60px;
}


/*.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}*/

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.site-index .jumbotron h1{
    font-size: 55px;
    font-weight: bold;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 5px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.footer > .navbar {
    margin-bottom: 0;
}

#show-categories {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.lead {
    text-align: center;
}

.btn-category {
    min-height: 75px;
    width: 215px;
    text-align: center;
    white-space: normal;
    font-size: 20px;
    margin-top: 5px;
}

.btn {
    white-space: normal;
}

@media (max-width: 992px) {
    .navbar-brand {
        margin-left: 55px;
    }
}

p, span {
    word-wrap: break-word;
}

.btn-container > * {
    display: inline-block;
}

.navbar-brand {
    padding: 0;
}

.navbar {
    background-color: #FFFFFF;
    border: none;
    margin-bottom: 5px;
}

.btn-category {
    /*height: 70px;
    width: 215px;*/
    text-align: center;
    white-space: normal;
    font-size: 20px;
    font-weight: bold;
    color: #DDDDDD;
    border-radius: 0;
    margin-top: 5px;
    background-color: #3E70BA;
    border: none;
}

.btn-category:hover {
    background-color: #3E71CF;
    color: #DDDDDD;
    border-radius: 0;
}

.btn-category:focus {
    background-color: #3E71CF;
    color: #DDDDDD;
    border-radius: 0;
}

.step {
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.step-link {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.step-link:hover {
    text-decoration: none;
    color: #000;
}

.step-link:active {
    text-decoration: none;
    color: #000;
}

.step-link:focus {
    text-decoration: none;
    color: #000;
}

.breadcrumb {
    background-color: transparent;
    margin-top: 5px;
}

.breadcrumb > li + li::before {
    color: black;
    content: url(../appImages/el_9.png);
    padding: 0 5px;
}

.breadcrumb > li > a {
    text-decoration: none;
    color: #888888;
}

.breadcrumb :last-child > a {
     color: #3E70BA;
 }

.step {
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.step-link {
    text-align: center;
    font-size: 16px;
    border-radius: 0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
#w0 > li.active > a {
    background-color: #FFFFFF;
    opacity: 0.7;
    border-radius: 0;
    color: #3A3A3A;
}

.step-link:hover{
    background-color: #FFFFFF;
    opacity: 0.7;
    color: #3A3A3A;
    border-radius: 0;
}

.not-margins {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}

.not-paddings {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}


.sidebar {
    width: 280px;
    position: absolute;
    left: -280px;
    height: 100%;
}

.group-link {
    text-align: center;
    font-size: 16px;
    border-radius: 0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.group {
    background-color: #444444;
    opacity: 0.7;
}
