<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-3 control-label">Ширина блока ({{currentBlock.settings.blockWidth}})</label>
        <div class="col-sm-9">
            <input
                    type="range"
                    class="form-control"
                    ng-model="currentBlock.settings.blockWidth"
                    min="1"
                    max="12"
                    step="1">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-3 control-label">Изображение</label>
        <div class="col-sm-9">
            <ui-select ng-model="currentBlock.settings.image">
                <ui-select-match>
                    <span ng-bind="$select.selected.url"></span>
                </ui-select-match>
                <ui-select-choices repeat="image in (images)">
                    <img src="{{image.url}}" style="height: 50px;">
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-3 control-label">Расположение изображения</label>
        <div class="col-sm-9">
            <select ng-model="currentBlock.settings.imagePlace" class="form-control">
                <option value="top">Сверху</option>
                <option value="bottom">Снизу</option>
                <option value="left">Слева</option>
                <option value="right">Справа</option>
            </select>
        </div>
    </div>
    <div ng-show="currentBlock.settings.imagePlace == 'left' || currentBlock.settings.imagePlace == 'right'">
        <div class="form-group">
            <label  class="col-sm-3 control-label">Ширина изображения ({{currentBlock.settings.imageWidth}})</label>
            <div class="col-sm-9">
                <input
                        type="range"
                        class="form-control"
                        ng-model="currentBlock.settings.imageWidth"
                        min="1"
                        max="12"
                        step="1">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 control-label">Ширина текстовой части ({{currentBlock.settings.contentWidth}})</label>
            <div class="col-sm-9">
                <input
                        type="range"
                        class="form-control"
                        ng-model="currentBlock.settings.contentWidth"
                        min="1"
                        max="12"
                        step="1">
            </div>
        </div>
    </div>

</form>