<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-4 control-label" for="hasBorders">Отобразить границу: <br><br></label>
        <input
                id="hasBorders"
                type="checkbox"
                ng-model="currentBlock.settings.hasBorders"
        >
    </div>
</form>