<form class="form-horizontal" role="form">
    <div class="form-group">
        <label  class="col-sm-3 control-label">Основное изображение</label>
        <div class="col-sm-9">
            <ui-select ng-model="currentBlock.settings.main_image">
                <ui-select-match>
                    <span ng-bind="$select.selected.url"></span>
                </ui-select-match>
                <ui-select-choices repeat="image in (images)">
                    <img src="{{image.url}}" style="height: 50px;">
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-3 control-label">Вторичное изображение</label>
        <div class="col-sm-9">
            <ui-select ng-model="currentBlock.settings.image">
                <ui-select-match>
                    <span ng-bind="$select.selected.url"></span>
                </ui-select-match>
                <ui-select-choices repeat="image in (images)">
                    <img src="{{image.url}}" style="height: 50px;">
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</form>