<div class="container-fluid">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label  class="control-label">Установите комплект документов:</label>
            <div>
                <ul class="list-group" style="overflow: visible">
                    <li class="list-group-item" ng-repeat="docID in currentBlock.documents">
                        <button class="btn btn-danger pull-right" ng-click="deleteDoc(currentBlock, this.$index)">
                            <i class="fa fa-times"></i>
                        </button>
                        <h4>{{getDocument(docID.id).full_name}}</h4>
                    </li>
                    <li class="list-group-item list-group-item-success" style="padding: 15px;">
                        <button class="btn btn-success btn-block" ng-show="!addingDoc" ng-click="addingDoc = true;">
                            <i class="fa fa-plus"></i> Добавить документ
                        </button>
                        <form class="form" style="overflow: visible" ng-show="addingDoc">
                            <!--Форма выбора документа-->
                            <div class="form-group" ng-show="addingDoc">
                                <label class="col-sm-2 control-label">Выберите документ:</label>
                                <div class="col-sm-10">
                                    <ui-select ng-model="selectedDoc" on-select="onDocSelect($item, $model)">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected.full_name"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="document in (documents)">
                                            <div ng-if="document.extension == 'doc' || document.extension == 'docx'">
                                                <i class="fa fa-file-word-o"></i> {{document.full_name}}
                                            </div>
                                            <div ng-if="document.extension == 'pdf'">
                                                <i class="fa fa-file-pdf-o"></i> {{document.full_name}}
                                            </div>
                                            <div ng-if="document.extension == 'xls' || document.extension == 'xlsx'">
                                                <i class="fa fa-file-excel-o"></i> {{document.full_name}}
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div style="display: flex;" ng-show="addingDoc">
                                <button style="width: 48%; margin: auto" class="btn btn-success" ng-click="addDoc(currentBlock)">
                                    <i class="fa fa-plus"></i> Добавить документ
                                </button>
                                <button style="width: 48%; margin: auto" class="btn btn-danger" ng-click="addingDoc = false">
                                    <i class="fa fa-times"></i> Отмена
                                </button>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>