<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputGroupName" class="col-sm-3 control-label">Название группы</label>
        <div class="col-sm-9">
            <input type="text" ng-model="currentGroup.group_name" class="form-control" id="inputGroupName">
        </div>
    </div>
</form>