<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputStepName" class="col-sm-3 control-label">Название шага</label>
        <div class="col-sm-9">
            <input type="text" ng-model="currentStep.step_name" class="form-control" id="inputStepName">
        </div>
    </div>
    <div class="form-group">
        <label for="inputTypeStep" class="col-sm-3 control-label">Тип страницы: <br>
        <small class="text-danger">Смена типа страницы приведет к потере всех данных, связанных с этой страницей!</small></label>
        <div class="col-sm-9">
            <select ng-model="currentStep.type" id="inputTypeStep" class="form-control" ng-change="changePageType()">
                <option value="simplePage">Обычная страница</option>
                <option value="sliderPage">Страница-слайдер</option>
                <option value="documentPage">Страница вывода документов</option>
                <option value="feedbackPage">Форма обратной связи</option>
            </select>
        </div>
    </div>
</form>
