<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="input1" class="col-sm-3 control-label">Ширина блока ({{currentBlock.settings.width}})</label>
        <div class="col-sm-9">
            <input type="range" class="form-control" id="input1" ng-model="currentBlock.settings.width" min="1" max="12" step="1">
        </div>
    </div>
</form>