<form class="form-horizontal" role="form">
    <div class="form-group">
        <label  class="col-sm-3 control-label">Фоновое изображение</label>
        <div class="col-sm-9">
            <ui-select ng-model="currentBlock.settings.backgroundImage">
                <ui-select-match>
                    <span ng-bind="$select.selected.url"></span>
                </ui-select-match>
                <ui-select-choices repeat="image in (images)">
                    <img src="{{image.url}}" style="height: 50px;">
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <hr>
    <h4>Настройки интеграции</h4>
    <div class="form-group">
        <label for="inputHasIntegration" class="col-sm-8 control-label">Вывод внутренних блоков в соответствии с набором данных?</label>
        <input id="inputHasIntegration" type="checkbox" ng-model="currentBlock.settings.hasIntegration">
    </div>
    <div ng-if="currentBlock.settings.hasIntegration">
        <div class="form-group">
            <label for="inputCollection" class="col-sm-3 control-label">Выберите коллекцию:</label>
            <div class="col-sm-9">
                <select name="inputCollection" ng-model="currentBlock.settings.integrationSettings.collectionName" class="form-control">
                    <option value="{{collection.collection_name}}" ng-repeat="collection in collections">{{collection.collection_name}}</option>
                </select>
            </div>
        </div>
        <div ng-if="currentBlock.settings.integrationSettings.collectionName">
            <h5>Установите соответствие полей:</h5>
            <div class="form-group">
                <label for="inputTitle" class="col-sm-3 control-label">Заголовок:</label>
                <div class="col-sm-9">
                    <select name="inputTitle" ng-model="currentBlock.settings.integrationSettings.matchingFields.title" class="form-control">
                        <option value="{{field.name}}" ng-repeat="field in getCollection(currentBlock.settings.integrationSettings.collectionName).structure">{{field.title}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputText" class="col-sm-3 control-label">Текст:</label>
                <div class="col-sm-9">
                    <select name="inputText" ng-model="currentBlock.settings.integrationSettings.matchingFields.text" class="form-control">
                        <option value="{{field.name}}" ng-repeat="field in getCollection(currentBlock.settings.integrationSettings.collectionName).structure">{{field.title}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>