<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="input1" class="col-sm-3 control-label">Пояснительный текст</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="input1" ng-model="currentBlock.settings.annotation">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-3 control-label">Фоновое изображение</label>
        <div class="col-sm-9">
            <ui-select ng-model="currentBlock.settings.backgroundImage">
                <ui-select-match>
                    <span ng-bind="$select.selected.url"></span>
                </ui-select-match>
                <ui-select-choices repeat="image in (images)">
                    <img src="{{image.url}}" style="height: 50px;">
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <label for="input3" class="col-sm-3 control-label">Цвет текста</label>
        <div class="col-sm-9">
            <input type="color" class="form-control" id="input3" ng-model="currentBlock.settings.fontColor">
        </div>
    </div>
    <div class="form-group">
        <label for="input4" class="col-sm-3 control-label">Фон поясняющей записи</label>
        <div class="col-sm-9">
            <input type="color" class="form-control" id="input4" ng-model="currentBlock.settings.annotationBackgroundColor">
        </div>
    </div>
    <div class="form-group">
        <label for="input5" class="col-sm-3 control-label">Ширина блока ({{currentBlock.settings.width}})</label>
        <div class="col-sm-9">
            <input type="range" class="form-control" id="input5" ng-model="currentBlock.settings.width" min="1" max="12" step="1">
        </div>
    </div>
</form>